<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>404: Not Found</title>
	</head>

	<body bgcolor="#000">
		<img
			src="https://http.cat/404"
			alt="404 cat"
			style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);max-width:100%;max-height:100%;height:auto;width:auto"
			width="750"
			height="600"
		/>
	</body>
</html>
