---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<h1>
		<i>the</i>
		<span>browser</span>
		<span>development</span>
		<div role="none">
			<i>of</i>
			<span>Boston</span>
		</div>
	</h1>
	<figure>
		<blockquote>Linux is admittedly a ways away.</blockquote>
		<figcaption>
			―<a
				rel="nofollow"
				href="https://arc.net/faq#:~:text=is%20arc%20available%20on%20windows%20or%20linux%3F"
				>Arc FAQ</a
			>, November 1, 2023. On May 1, 2024, they removed the reference to Linux while keeping
			the question intact.
		</figcaption>
	</figure>
	<figure>
		<blockquote>
			Arc has started fully crashing my PC. Not a BSOD, an instant black screen and back to
			BIOS.
		</blockquote>
		<figcaption>
			―<a rel="nofollow" href="https://beebl.es">Beebles</a>, April 5, 2024
		</figcaption>
	</figure>
	<figure>
		<blockquote>The idea of a general purpose web browser is deeply flawed.</blockquote>
		<figcaption>
			―Josh Miller, founder and CEO of the Browser Company of New York, a <a
				href="https://fxtwitter.com/browsercompany/status/1770820275484909707.png"
				>$550 million</a
			> company dedicated to building a general purpose web browser
		</figcaption>
	</figure>
	<hr />
	<p>
		Tangent is the only browser on Linux that can connect to the Arc cloud. You don't need to
		switch to Windows or macOS to enjoy Boosts, page summaries, or shared quotes and folders.
	</p>
</Layout>

<style>
	h1 span {
		text-transform: uppercase;
	}
	h1 {
		font-family: serif;
		font-size: xxx-large;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>
