---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<h1 class="tagline">Skyro<wbr />oo<span aria-hidden> 🚀</span><br />oo<wbr />oo<wbr />cket</h1>
	<p>
		Skyrockets are bookmarklets on
		steroids. They're automatically bundled, have access to NPM, and have a
		separate CSP. Enjoy user scripts again.
	</p>
	<h2>API</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, cumque laudantium fuga expedita aperiam dicta soluta impedit est illum magnam sed. Eligendi blanditiis architecto corrupti, nostrum laboriosam veniam natus iure?</p>
	<p>Magni ad ipsam, laborum maxime minus velit in itaque officia distinctio aliquid odit, natus dicta vero quis voluptatem, quam perspiciatis sunt est assumenda culpa. Modi placeat ad enim dolorem tenetur?</p>
	<p>Eum nam neque aperiam. Fugit voluptate quos provident cumque facilis iste perspiciatis odio ad. Natus, officiis asperiores at rerum delectus repellendus, quis, et quisquam expedita similique aperiam voluptatibus nemo temporibus!</p>
	<p>Pariatur nam qui consectetur numquam dicta, cumque expedita, voluptatem molestiae dolorem placeat incidunt quos autem debitis. Illo sint dolores accusantium inventore consequatur facere quos amet atque itaque officiis. Natus, vel.</p>
	<p>Debitis reprehenderit ipsa quae assumenda est! Beatae commodi repudiandae doloremque facilis quidem nostrum ipsa. Excepturi, fuga! Animi, reiciendis? Blanditiis ipsam accusamus eum voluptates! Eius minus, ipsam nostrum veniam provident et?</p>
	
</Layout>

<style>
	.tagline {
		font-size: xxx-large;
		font-family: "Inter Display", Inter, sans-serif;
	}
</style>
