---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<meta http-equiv="refresh" content="0;url=/tangent.flatpakref">
	<h1>Getting you on Tangent...</h1>
	<p>
		Your download should start automatically. <a href="/tangent.flatpakref">Download manually</a> if it doesn't.
	</p>
	<p>
		Alternatively, install Tangent using Nix with <code
			>nix profile install https://tangent.surf</code
		>.
	</p>
</Layout>
