---
import Layout from "../layouts/Layout.astro"
import hero from "../hero.png?url"
import webkit from "../webkit.png?url"
---

<Layout description="Go on tangents. The maximalist user agent.">
	<h1 class="tagline">Go on tangents.</h1>
	<a href="/download">Download Tangent for Linux</a> | <a href="/saves"
		>Download Tangent Saves for Android</a
	>
	<img src={hero} alt="Tangent open to Twitter.com" />
	<hr />
	<h2>The maximal user agent</h2>
	<img
		alt="Collage of various Tangent features: native adblocker, Tangent Saves, Unsuggestive Suggestions, and more"
		class="feature"
	/>
	<p>The first page you open in Tangent won't be an extension store.</p>
	<p>
		Our adblocker uses the same engine as uBlock Origin. Our bookmark system was originally
		going to be <a href="/saves">an entirely separate project</a>. We keep trying to find a new
		flagship feature.
	</p>
	<p>
		Our vast scope does not preclude getting your browser out of your way. Features don't have
		popups; they appear in the places you expect.
	</p>
	<h2>Designed with care</h2>
	<img alt="An address bar featuring a sparkling lock icon" class="feature" />
	<p>
		Tangent follows the <a href="https://developer.gnome.org/hig/"
			>GNOME Human Interface Guidelines</a
		>. UI surfaces do not feel uncanny. Your theme is respected. Welcome back to native.
	</p>
	<h2>Reinventing the right wheel</h2>
	<img src={webkit} alt="Standard devtools open in Tangent" class="feature" />
	<p>
		We are designers first, developers second. Tangent's innovations are in the frontend, not
		the backend. Tangent uses WebKit, not some custom engine with awful stablity.
	</p>
</Layout>

<style>
	svg {
		vertical-align: middle;
	}
	button {
		margin-left: 1ch;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	@font-face {
		font-family: "Super Inter Display";
		src: local("Inter Variable");
		font-feature-settings: "cv13", "cv11";
	}
	.tagline {
		/* margin-block: 0; */
		font-size: xxx-large;
		font-family: "Super Inter Display", "Inter Display", Inter, sans-serif;
		text-wrap: balance;
		text-align: center;
	}
	h2 {
		text-align: center;
		font-family: "Inter Display", Inter, sans-serif;
	}
	a.cta {
		background: AccentColor;
		color: Canvas;
		padding: 8px;
		border-radius: 8px;
	}
</style>
