---
import Layout from "../layouts/Layout.astro"
import screenshot from "../tangent.png"
import { Picture } from "astro:assets"
---

<Layout>
	<h1 class="tagline">Go on tangents.</h1>
	<div>
		<code>nix profile install github:mollersuite/tangent</code>
	</div>
	<br>
	<p>
		Tangent is an opinionated browser by <a href="https://cetera.uk">Etcetera</a>. Finally, a <em
			>user</em
		> agent.
	</p>
	<Picture
		src={screenshot}
		alt="Tangent browser with sidebar open. The sidebar is a placeholder simply reading 'hi! :3'. The browser is open to vsynctester.com and there is visible glitching."
		width={1200}
		densities={[0.5, 1, 1.5]}
	/>
</Layout>

<style>
	code {
		font-family: monospace, monospace;
		background: Field;
		color: FieldText;
		border: solid 1px FieldBorder;
		border-radius: 1ch;
		padding: 1ch;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	@font-face {
		font-family: "Super Inter Display";
		src: local("Inter Variable");
		font-feature-settings: "cv13", "cv11";
	}
	.tagline {
		font-size: xxx-large;
		font-family: "Super Inter Display", "Inter Display", Inter, sans-serif;
	}
	a.cta {
		background: AccentColor;
		color: Canvas;
		padding: 8px;
		border-radius: 8px;
	}
	div,
	p,
	.tagline {
		text-align: center;
	}
</style>
