---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<h1 class="tagline">Skyro<wbr />oo<wbr />oo<br />oo<wbr />ckets 🚀</h1>
	<p>
		If Arc boosts, Tangent <em>skyrockets</em>. Skyrockets are bookmarklets on
		steroids. They're automatically bundled, have access to NPM, and have a
		separate CSP. It's our <q>yes code</q> answer to Arc Boosts.
	</p>
	
</Layout>

<style>
	.tagline {
		font-size: xxx-large;
		font-family: "Inter Display", Inter, sans-serif;
	}
</style>
