---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tangent Tweaks" description="Tangent adds features to sites, too.">
	<h1 class="tagline">The little things.</h1>
	<p>
		Tangent adds ██+ features across common websites. Great defaults, performant, and
		nonobtrusive.
	</p>
	<p>
		Invidually, you wouldn't even install them if they were extensions. Combined, they're
		Tangent's best feature.
	</p>
	<h2>Search engines</h2>
	<p>
		Tangent puts you in control of your search results. Tangent supports a superset of
		uBlacklist and we maintain our own list.
	</p>
	<h2>Mozilla Developer Network</h2>
	<p>Tangent adds itself to MDN compatibility lists.</p>
	<h2>X (formerly Twitter)</h2>
	<h3>Streamer Mode</h3>
	<p>
		Tangent lets you mark certain authors as sensitive, hiding them from Who to Follow and tab
		titles.
	</p>

	<style>
		h1 ~ p:not(h2 ~ p) {
			text-align: center;
		}
	</style>
</Layout>
