---
import Header from "./Header.astro"
import bcny from "./bcny.png?url"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{Astro.props.title || "Tangent"}</title>
		{Astro.props.description && <meta name="description" content={Astro.props.description} />}
		<meta name="color-scheme" content="dark light" />
	</head>
	<body>
		<mark>Unreleased software; no downloads here.</mark>
		<Header />
		<slot />
		<footer>🄯 Etcetera Development <a href={bcny}>2021</a>-present</footer>
	</body>
</html>

<style>
	mark {
		font-family: monospace, monospace;
		width: 100%;
		display: block;
		text-align: center;
		position: sticky;
		top: 0;
	}
	footer {
		text-align: center;
		font-size: small;
	}
	@media (prefers-color-scheme: dark) {
		body {
			background-color: #001;
			color: #eee;
		}
	}
	body {
		max-width: 800px;
		margin-inline: auto;
		font-family:
			"Inter Variable",
			"Inter var",
			Inter,
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			sans-serif;
	}
</style>
<style is:global>
	@font-face {
		font-family: "Super Inter Display";
		src: local("Inter Variable");
		font-feature-settings: "cv13", "cv11";
	}
	.tagline {
		font-size: xxx-large;
		font-family: "Super Inter Display", "Inter Display", Inter, sans-serif;
		text-wrap: balance;
		text-align: center;
	}
	table {
		border: 1px solid currentColor;
		border-collapse: collapse;
	}
	th,
	td {
		border: 1px solid currentColor;
		padding: 0.5rem;
	}
</style>
