---
import Header from "./Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Tangent</title>
		<meta name="color-scheme" content="dark light" />
	</head>
	<body>
		<mark>TANGENT HAS NOT YET STARTED DEVELOPMENT, EVERYTHING HERE IS FAKE</mark>
		<Header />
		<slot />
	</body>
</html>

<style>
	mark {
		display: block;
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
	body {
		max-width: 800px;
		margin-inline: auto;
		font-family:
			"Inter Variable",
			"Inter var",
			Inter,
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			sans-serif;
	}
</style>
